*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #222;
    cursor: pointer;
}
body{
    font-family: "Noto Sans KR", sans-serif;
    color: #222;
}
/*네비게이션 및 상단 요소*/
div.nav_fixed{
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    transition: all 0.3s ease;
}
.navheight{
    height: 119px;
}
.bgColor{    /*스크롤시 화이트 배경 - 스크립트 제어*/
    background-color: #fff;
}
/*상단 요소*/
div.top_element{
    width: 1150px;
    height: 66px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}
/*언어 선택*/
div.language_box_wrap{
    position: absolute;
    top: 20px;
    left: 0;
}
.language_select button{
    float: left;
    padding-right: 22px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #6C6C6C;
    border: none;
    background-color: transparent;
    background-image: url(../img/indexPG/main/Expand_down_gray.svg);
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
}
.language_box_wrap>div{
    clear: both;
}
div.language_list{
    position: relative;
    width: 100px;
    display: none;
}
div.language_list li{
    padding: 6px 0;
    font-size: 14px;
    text-align: center;
    background-color: #83838347;
    cursor: pointer;
}
div.language_list li:hover{
    color: #6C6C6C;
}
div.language_list li:first-child{
    border-bottom: 1px solid #fff;
}
/*로고*/
.nav_fixed div.logo{
    float: left;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
/*로그인/회원가입/마이페이지*/
.top_element div.login_container{
    width: 250px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 0;
}
.login_container ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login_container ul li a{
    color: #6C6C6C;
    font-size: 14px;
    font-weight: 600;
}
/*네비게이션*/
/*메인메뉴*/
nav{
    width: 100%;
}
div.mainmenu{
    width: 795px;
    margin: 0 auto;
}
nav ul{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav ul li a{
    padding: 2px 0;
    font-weight: 600; 
    transition: box-shadow 0.5s ease;
}
nav ul li a:hover{
    box-shadow: 0px 4px 0px #116AB0;
}
/*서브메뉴*/
div.subMenu_wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 10px;
}
div.inner_wrap{
    width: 100%;
    overflow: hidden;
    position: relative;
}
div.inner_wrap>div{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 12px 0;
    position: absolute;
    top: 0;
    left: 0%;
    transition: all 0.3s ease;
}
.hideMenu{
    opacity: 0;
}
.showMenu{
    opacity: 1;
}
/*서브메뉴 공통 스타일*/
div.sub_element{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 0;
    padding-top: 30px;
}
div.menu_img{
    width: 400px;
    height: 234px;
    float: left;
}
div.menu_img img{
    width: 100%;
    height: 100%;
}
div.menu_img span{
    display: block;
    font-size: 20px;
    color: #116AB0;
}
div.sub_menu>div{
    width: 200px;
    float: left;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #116AB0;
}
ul.sub_list{
    width: 50%;
    overflow: hidden;
    padding: 0 20px;
    float: left;
}
ul.sub_list li a{
    display: block;
    padding: 16px 0;
    font-size: 16px;
    font-weight: 700;
}
/*호텔 & 리조트 서브메뉴*/
div.hotelResort_sub li.list{
    float: left;
}
div.hotelResort_sub li.list:nth-child(2){
    margin: 0 30px;
}
div.hotelResort_sub li.list>ul>li>a{
    font-size: 14px;
    font-weight: 500;
    color: #505050;
}
div.hotelResort_sub span{
    display: inline-block;
}
/*배너 이미지*/
div.landing_wrap_box{
    width: 100%;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    position: relative;
}
div.landing_wrap_box a{
    color: #fff;
}
div.bgImges_element_wrap{
    width: 100%;
    max-height: 1100px;
    height: 100vh;
    background-image: url(../img/resortPG/Junior-Suite-Terrace.db);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: background-image 0.5s ease;
}
/*리조트 리스트 선택 박스*/
div.select_list_wrap{
    width: 1200px;
    overflow: hidden;
    position: absolute;
    top: 95%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}
/*리스트 선택 랩핑*/
div.select_list_element{
    width: 70%;
    height: 94px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #ccc;
    position: relative;
    top: 0;
    left: 15%;
    z-index: 10;
    transition: 0.5s ease-in-out;
}
div.current_type_wrap{
    width: 100%;
    height: 94px;
    padding: 0 30px;
    line-height: 94px;
    box-sizing: border-box;
    border-bottom: 1px solid #C3C3C3;
    background-color: #fff;
}
.current_type_wrap span.current_type{
    float: left;
    font-size: 32px;
    font-weight: 700;
}
.current_type_wrap span.dropDown_icon{
    float: right;
    position: relative;
    top: 10px;
    right: 0;
}
ul.list_container{
    clear: both;
}
ul.list_container li a{
    display: block;
    padding: 20px 24px;
    font-size: 18px;
    letter-spacing: -1px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    color: #222;
    transition: background-color,color 0.3s ease;
}
ul.list_container li:last-child a{
    border: none;
}
ul.list_container li a:hover{
    background-color: #154b6e;
    color: #fff;
}
div.select_resort_list{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    
}
div.select_box_wrap{
    width: 100%;
}
/*해비치 호텔 로고*/
div.hotel_logo{
    width: 15%;
    height: 94px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #C3C3C3;
    border-right: transparent;
    background-color: #fff;
}
div.logo_text{
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 26px;
    font-weight: 500;
}
div.logo_text a{
    color: #116AB0;
}
.hotel_logo span{
    display: block;
}
.hotel_logo span:first-child{
    font-size: 16px;
}
/*멤버십 아이콘*/
div.membershipIcon_container{
    width: 15%;
    height: 94px;
    float: right;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #C3C3C3;
    border-left: transparent;
    background-color: #fff;
}
div.membershipIcon_container img{
    position: relative;
    top: 8%;
}
/*메인*/
main{
    width: 100%;
    padding-top: 46px;
    overflow: hidden;
}
/*서체 클래스 공통 적용*/
.playfair{
    font-family: "Playfair", serif;
}
.notosans{
    font-family: "Noto Sans KR", sans-serif;
}
/*리조트 리스트 영역*/
section.resort_contents{
    width: 100%;
    overflow: hidden;
}
/*리스트 상단*/
div.contents_wrap{
    width: 1484px;
    overflow: hidden;
    margin: 100px auto;
}
div.resort_title_boxL{
    width: 40%;
    float: left;
    padding: 20px 0;
    border-right: 10px solid #3C729D;
    box-sizing: border-box;
}
.resort_title_boxL span{
    display: inline-block;
    font-size: 24px;
    color: #116AB0;
}
.resort_title_boxL h1{
    font-size: 62px;
    letter-spacing: 8px;
    font-weight: 900;
}
div.about_resortsR{
    width: 60%;
    float: left;
    padding: 42px;
    padding-right: 0;
    line-height: 28px;
    box-sizing: border-box;
    font-size: 18px;
    color: #4D4D4D;
}
/*리조트 타입*/
article.resort_type_wrap{
    width: 100%;
}
div.type_list_container{
    width: 1484px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 80px;  
    column-gap: 80px;
}
div.list{
    overflow: hidden;
    box-sizing: border-box;
}
div.type_img{
    width: 100%;
    height: 424px;
    position: relative;
}
.type_img a img{
    width: 150%;
    height: 100%;
    position: relative;
    right: 20%;
}
div.icon_wrap{
    width: 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 18px;
    right: 18px;
}
.icon_wrap > div{
    text-align: center;
}
div.type_title_txt a{
    display: block;
    width: 100%;
    padding: 16px 0;
    font-size: 24px;
    font-weight: 700;
    color: #116AB0;
}
.type_title_txt a span{
    font-size: 30px;
    font-weight: 900;
}
div.type_informat a{
    display: block;
    font-size: 18px;
}
div.type_informat ul{
    margin-top: 16px;
}
div.type_informat ul li{
    line-height: 42px;
}
div.type_informat ul li.Image_escription{
    font-size: 14px;
    color: #7a7a7a;
}
/*이벤트 영역*/
section.event_entire_wrap{
    width: 100%;
    overflow: hidden;
    padding-top: 120px;
    position: relative;
}
.event_entire_wrap > h1{
    margin-bottom: 42px;
    text-align: center;
    font-size: 54px;
    font-weight: 800;
    letter-spacing: -2px;
}
article.event_inner_box{
    width: 100%;
    height: 460px;
    position: relative;
}
div.event_order_wrap{
    width: 1478px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
/*좌측 텍스트 영역*/
div.event_textL_area{
    width: 50%;
    height: 460px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    position: relative;
}
.event_textL_area .type{
    font-size: 14px;
    font-weight: 400;
    color: #116AB0;
    letter-spacing: -1px;
}
.event_textL_area .title a{
    display: block;
    margin: 16px 0;
    color: #222;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -1px;
}
.event_textL_area .title span.sign{
    font-size: 40px;
    font-weight: 200;
}
.event_textL_area .title span.lang_en{
    font-size: 32px;
    font-weight: 900;
}
.event_textL_area ul.detail a{
    color: #4D4D4D;
}
.event_textL_area .detail a li{
    margin: 4px 0;
}
.event_textL_area .detail a li:first-child{
    margin: 12px 0;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
}
.event_textL_area .detail li.informat_list{
    list-style-position: inside;
    list-style-type: disc;
    font-size: 12px;
}
.event_textL_area .detail li.informat_list span{
    font-size: 16px;
}
ul.add_event_list{
    width: 200px;
    padding: 10px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    top: 30px;
}
.add_event_list li{
    margin: 10px 0;
}
.add_event_list li a{
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.add_event_list li a:hover{
    color: #c0c0c0;
}
.add_event_list li span.sign{
    font-size: 20px;
}
.add_event_list>span.more_dot{
    display: block;
    width: 2px;
    height: 2px;
    margin: 14px auto;
    background-color: #fff;
    border-radius: 50%;
}
/*우측 이미지 영역*/
div.event_imgR_area{
    width: 50%;
    height: 420px;
    overflow: hidden;
    float: left;
}
div.event_imgR_area img{
    width: 100%;
    height: 100%;
}
/*더보기 버튼*/
.event_inner_box button.more_btn{
    width: 140px;
    padding: 12px 0;
    color: #3C729D;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
    position: absolute;
    left: 35%;
    bottom: 10%;
}
.event_inner_box button.more_btn:hover{
    background-color: #116AB0;
    color: #fff;
    transition: 0.3s;
}
/*백그라운드 컬러 영역*/
div.event_back_color{
    width: 100%;
    height: 235px;
    background-color: #334a5e;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
/*모먼트 영역*/
section.moment_entire_wrap{
    width: 100%;
    overflow: hidden;
    padding-top: 120px;
}
section.moment_entire_wrap>h1{
    margin-bottom: 16px;
    text-align: center;
    font-size: 54px;
    font-weight: 800;
    letter-spacing: -2px;
}
div.sub_explanat {
    text-align: center;
    font-size: 16px;
    color: #4D4D4D;
    letter-spacing: -1px;
    word-spacing: 1px;
}
article.frameBox{
    width: 1420px;
    padding-top: 42px;
    margin: 0 auto;
}
/*푸터*/
footer{
    width: 100%;
}
div.link_txt>ul{
    width: 1334px;
    margin: 0 auto;
    padding: 48px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
div.link_txt>ul li a{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #4E4E4E;
}
div.link_txt li a::after{
    content: '|';
    margin-left: 30px;
    font-weight: 300;
}
div.link_txt li:last-child a::after{
    content: none;
}
div.link_txt li.personal_informat a{
    font-weight: 700;
}
div.foot_element_wrap{
    width: 100%;
    overflow: hidden;
    background-color: #EEEEEE;
}
div.foot_element_inner{
    width: 1334px;
    margin: 0 auto;
    background-color: #EEEEEE;
}
div.search_wrap{
    width: 52%;
    padding: 46px 0;
    float: right;
}
.search_wrap span.search_title{
    width: 30%;
    padding-top: 2px;
    display: block;
    float: left;
    font-size: 34px;
    font-weight: 800;
    letter-spacing: -1px;
}
.search_wrap span.search_box{
    width: 70%;
    display: block;
    float: right;
    position: relative;
}
.search_box input{
    width: 100%;
    padding: 12px;
    border: 1px solid #C8C8C8;
    border-radius: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
}
.search_box button{
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 12px;
}
div.foot_icon_wrap{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #CECECE;
    position: relative;
}
div.logo_container{
    clear: both;
    width: 70%;
    overflow: hidden;
}
.logo_container img{
    position: absolute;
    top: 0;
    left: -12%;
}
ul.logo_link{
    width: 54%;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 0;
}
ul.logo_link li a{
    display: block;
    width: 136px;
    height: 50px;
    margin-right: 10px;
    float: left;
}
div.snsIcon_wrap{
    width: 30%;
    float: right;
}
.snsIcon_wrap ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.snsIcon_wrap ul li{
    padding: 35px 0;
}
.snsIcon_wrap ul li a{
    display: block;
    cursor: pointer;
}
.snsIcon_wrap ul li img{
    width: 80%;
    opacity: 0.8;
    transition: all 0.3s;
}
.snsIcon_wrap ul li a:hover img{
    opacity: 1;
}
div.Company_informat_inner{
    width: 1334px;
    padding-top: 30px;
    margin: 0 auto;
    color: #6A6A6A;
}
.Company_informat ul{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Company_informat ul li{
    font-size: 14px;
    color: #6A6A6A;
}
.Company_informat ul li::after{
    content: '|';
    margin-left: 26px;
    font-size: 12px;
}
.Company_informat ul li:last-child::after{
    content: none;
}
span.copyright{
    display: block;
    width: 100%;
    margin: 30px 0;
    font-size: 14px;
}
/*예약 영역*/
div.reservatn_calendar{
    position: fixed;
    top: 20%;
    right: 2%;
    cursor: pointer;
    z-index: 10;
}
/*닫기 아이콘*/
div.close_icon{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9;
    display: none;
}
div.close_icon:hover img{
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out;
}
/*예약 검색 랩핑*/
div.reservatn_Wrap{
    width: 100%;
    background-color: #22222293;
    position: relative;
}
div.container{
    float: right;
}
/*예약 검색창*/
div.search_list_map{
    width: 380px;
    overflow: hidden;
    padding: 0 20px;
    padding-top: 185px;
    padding-bottom: 30px;
    background-color: #181f2f;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
/*타이틀 및 호텔/리조트 선택*/
div.rooms_out_box{
    width: 90%;
    overflow: hidden;
    position: absolute;
    top: 66px;
    left: 21px;
}
div.rooms_out_box h1{
    padding-bottom: 36px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
div.select_room_type_wrap{
    width: 100%;
    text-align: center;
}
.select_room_type_wrap ul>li{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    font-size: 14px;
}
.select_room_type_wrap ul.select_room_type>li{
    border-radius: 6px;
    position: relative;
}
.select_room_type_wrap ul>li span.title{
    display: block;
    padding: 10px 0;
    letter-spacing: -1px;
    font-size: 16px;
}
span.down_icon{
    position: absolute;
    top: 10px;
    right: 12px;
}
.select_room_type_wrap ul.room_list{
    display: none;
}
.select_room_type_wrap ul.room_list li{
    padding: 10px 0;
    background-color: #212e4ef5;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.select_room_type_wrap ul.room_list li:last-child{
    border: none;
}
.select_room_type_wrap ul.room_list li:hover{
    background: #1a1a1a;
    transition: 0.3s;
}
/*날짜 선택*/
div.select_date{
    width: 100%;
    padding: 40px 0;
    box-sizing: border-box;
    color: #fff;
}
.select_date>div.title{
    font-size: 16px;
}
div.select_date_wrap{
    width: 99%;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px;
    margin-top: 16px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}
.select_date_wrap span{
    font-size: 14px;
}
span.days{
    float: right;
    margin: 2px 30px;
}
span.day_icon_box{
    margin: 1px 0;
    float: right;
}
/*인원 선택*/
div.select_personnel{
    width: 100%;
    overflow: hidden;
    color: #fff;
}
/*성인 랩핑*/
div.adult_left{
    width: 48%;
    float: left;
}
/*어린이 랩핑*/
div.children_right{
    width: 48%;
    float: right;
}
/*성인, 어린이 공통 스타일*/
div.personnel_count_wrap{
    width: 100%;
    overflow: hidden;
    margin-top: 16px;
    text-align: center;
}
span.personnel_remove_icon{
    float: left;
    cursor: pointer;
    margin-top: -2px;
}
span.personnel_add_icon{
    float: right;
    cursor: pointer;
    margin-top: -2px;
}
/*객실 추가 및 검색*/
div.select_add_room{
    padding: 22px 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
.select_add_room span{
    display: block;
}
span.Search_btn{
    width: 100%;
    overflow: hidden;
    padding: 12px 0;
    margin-top: 34px;
    background-color: #116AB0;
    border-radius: 6px;
    cursor: pointer;
}
/*체크인 날짜 달력*/
div.checkinDay{
    width: 800px;
    overflow: hidden;
    background: #f3f3f3;
    position: absolute;
    top: 0;
    right: 420px;
}
/*달력 닫기*/
div.calendar_close{
    width: 28px;
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    cursor: pointer;
    display: none;
}
/*현재 달*/
div.now_month{
    width: 50%;
    overflow: hidden;
    padding: 20px;
    margin-top: 49px;
    float: left;
    box-sizing: border-box;
}
/*다음 달*/
div.next_month{
    width: 50%;
    overflow: hidden;
    padding: 20px;
    float: left;
    box-sizing: border-box;
}
/*현재 달, 다음 달 공통 스타일*/
div.month_wrap{
    display: none;
    transition: transform 0.3s ease;
}
div.month_wrap h1{
    text-align: center;
    font-size: 16px;
}
div.month_wrap h1 span{
    float: right;
}
div.day{
    margin-top: 16px;
    border-top: 1px solid #CFCFCF;
}
ul.week{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
ul.week li{
    width: calc(100% / 7);
    padding: 12px 0;
    text-align: center;
    font-size: 16px;
}
div.dayBYday{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap; 
}
div.dayBYday ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.dayBYday ul li{
    width: calc(100% / 7);
    padding: 12px;
    text-align: center;
    font-size: 15px;
}
li.dayOff{
    color: #FF3A3A;
}
li.Lightly{
    opacity: 0.3;
}
li.today{
    background-color: #111;
    color: #fff;
}
/*로그인 팝업창*/
div.login_popup{
    width: 662px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}
div.login_inner_wrap{
    display: none;
}
div.top_title{
    width: 100%;
    overflow: hidden;
    padding: 24px 0;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #0086DF;
    position: relative;
}
.login_popup > span.closeBtn{
    position: absolute;
    top: 24px;
    right: 12px;
    cursor: pointer;
    z-index: 25;
}
div.main_element{
    width: 100%;
    padding: 0 44px;
    box-sizing: border-box;
}
.login_popup div.logo{
    padding: 24px 0;
    text-align: center;
}
.IdPw_input_wrap input{
    width: 100%;
    box-sizing: border-box;
    padding: 18px 14px;
    border: none;
    border-radius: 4px;
    border: 1px solid #B0B0B0;
    font-size: 16px;
}
.IdPw_input_wrap input:focus{
    outline: none;
}
.ID_box input{
    border-bottom: transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.PW_box input{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.IdPw_input_wrap button{
    width: 100%;
    padding: 18px 0;
    margin-top: 44px;
    background-color: #116AB0;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
div.user_join{
    margin: 32px 0;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: 14px;
    color: #818181;
    cursor: pointer;
}
div.user_join:hover{
    color: #222;
}
div.or_line{
    text-align: center;
    font-size: 14px;
}
.or_line span{
    display: inline-block;
    margin: 0 10px;
    width: 200px;
    height: 1px;
    background-color: #B0B0B0;
    position: relative;
    top: -4px;
}
div.add_login_wrap{
    width: 100%;
    padding: 44px 0;
}
.add_login_wrap > div{
    margin: 14px 0;
    position: relative;
}
.add_login_wrap button{
    width: 100%;
    padding: 18px 0;
    color: #222;
    border: 1px solid #686868;
    background: transparent;
    border-radius: 6px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.add_login_wrap span{
    position: absolute;
    left: 18px;
    bottom: 50%;
    transform: translateY(50%);
}
/*공유 팝업창*/
div.share_popup{
    width: 720px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    border-radius: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}
div.closeBtn{
    position: absolute;
    top: 24px;
    right: 12px;
    cursor: pointer;
}
div.share_inner_box{
    padding: 44px;
    display: none;
}
.share_inner_box > h1{
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    font-size: 28px;
}
div.room_contents{
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
    box-sizing: border-box;
    position: relative;
}
div.roomImg_L{
    width: 50%;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}
.roomImg_L img{
    width: 150%;
    position: relative;
    right: 90px;
}
div.roomInformat_R{
    width: 50%;
    overflow: hidden;
    padding-left:26px;
    float: right;
    box-sizing: border-box;
    position: relative;
    top: 30px;
    left: 0;
}
.roomInformat_R > div{
    color: #116AB0;
}
.roomInformat_R ul li.roomType{
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
}
ul li.roomType span{
    font-size: 28px;
}
ul li.details{
    margin: 20px 0;
}
div.share_btn_wrap{
    width: 100%;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;  
    column-gap: 20px;
    box-sizing: border-box;
}
.share_btn_wrap > div{
    position: relative;
}
.share_btn_wrap div button{
    width: 100%;
    padding: 14px 0;
    border-radius: 6px;
    border: 1px solid #686868;
    color: #222;
    background: transparent;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.share_btn_wrap div button:hover{
    background-color: #116AB0;
    color: #fff;
    border: #116AB0;
}
.share_btn_wrap div span{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 28px;
    color: #116AB0;
}
/*TOP 버튼*/
div.window_top_wrap{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 6%;
    right: 3%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
div.window_top_wrap img{
    transition: 0.5s;
}
div.window_top_wrap.showTop{   /*스크립트 제어*/
    opacity: 1;
}


